body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.timer-container {
    text-align: center;
}

#timer {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
}

.buttons button {
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.buttons button:hover {
    background-color: #45a049;
}
